<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vue • TodoMVC</title>
  <link rel="stylesheet" href="https://unpkg.com/todomvc-app-css@1.0.1/index.css">
  <style> [v-cloak] { display: none; } </style>
</head>

<body>
  <section id="todoapp">
    <header class="header">
      <h1>todos</h1>
      <input id="new-todo" placeholder="输入代办适宜" autofocus @keyup.enter="create()" v-model="newTodo">
    </header>
    <section id="main" v-show="todos.length > 0" v-cloak>
      <input id="toggle-all" type="checkbox" v-model="allStatus">
      <ul id="todo-list">
        <li class="todo" v-for="todo in filteredTodos" :class="{completed: todo.completed, editing: todo == editingTodo}" :key="todo.id">
          <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.completed">
            <label @dblclick="edit(todo)">{{todo.title}}</label>
            <button class="destroy" @click="remove(todo.id)"></button>
          </div>
          <input class="edit" type="text" v-model="todo.title" v-todo-focus="todo == editingTodo" @blur="update(todo)" @keyup.enter="update(todo)" @keyup.esc="cancelEdit(todo)">
        </li>
      </ul>
    </section>
    <footer id="footer" v-show="todos.length > 0" v-cloak>
      <span id="todo-count">
          <strong>{{activeItemNum}}</strong> 条未完成
        </span>
        <ul id="filters">
          <li><a href="#/all" :class="{selected: visibility == 'all'}">所有</a></li>
          <li><a href="#/active" :class="{selected: visibility == 'active'}">未完成</a></li>
          <li><a href="#/completed" :class="{selected: visibility == 'completed'}">已完成</a></li>
        </ul>
        <button id="clear-completed" @click="removeAllCompleted" v-show="completedItemNum > 0">清空已完成</button>
    </footer>
  </section>
  <footer id="info">
    <p>双击编辑待办适宜</p>
    <p>作者： <a href="https://github.com/iamjoel/">Joel</a></p>
  </footer>
  <script src="https://unpkg.com/vue@2.2.6"></script>
  <script src="https://unpkg.com/director@1.2.8/build/director.min.js"></script>
  <script src="js/store.js"></script>
  <script src="js/app.js"></script>
  <script src="js/routes.js"></script>
</body>

</html>
